:global {
  html {
    font-family: "Comic Sans MS", serif;
    background-image: url("../assets/duckling-pattern.png");
    font-size: 18px;
    background-attachment: fixed;
    background-position: top left;
  }

  body {
    margin: 0;
    padding: 0;
  }

  h2 {
    margin-top: 2em;
    margin-bottom: 1em;
  }
}

.main {
  margin: 1em;
  padding: 0;
}

.header {
  margin-top: 0;
  background-color: rgb(255 277 108);
  padding: 1rem;
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgb(33 33 33);
  text-align: center;
  z-index: 1000;
}

.heading {
  margin: 0;
}
