:global {

  @import '../../node_modules/normalize.css/normalize.css';

  html {
    font-family: "Comic Sans MS";

    &.wf-active {
      font-family: 'Source Sans Pro';
    }
    font-size: 16px;
  }

  body {
    background: url('../assets/cloth.png');
    background-repeat: repeat;

  }
}
