.root {
  border: 5px solid rgb(0 0 0);
  border-radius: 1rem;
  margin: 1em 0;
  padding: 1em;
  background-color: rgb(255 255 255 / 75%);
  display: flex;
  align-items: stretch;
}

.male {
  background-color: rgb(200 200 255 / 75%);
}

.female {
  background-color: rgb(255 200 200 / 75%);
}

.name {
  margin: 0.25em 0 0.5em 0;
}

.info {
  width: 75%;
}

.block {
  margin: 0.25em 0;
}

.actions {
  width: 25%;
  align-self: center;
  text-align: right;
}
