.root {
  border: 1px solid rgba(0, 0, 0, .5);
  border-radius: 15px;
  padding: 1em;
  margin: .5em 0;
}

.male {
  background-color: rgba(220, 220, 255, .66);
}

.female {
  background-color: rgba(255, 200, 200, .66);
}
