.clock {
  border: 10px solid rgb(0 0 0);
  border-radius: 10px;
  padding: 1rem;
  margin-block: 1rem;
  background-color: rgb(255 255 255);
  color: rgb(0 0 0);
}

.nightTime {
  color: rgb(255 255 255);
  background-color: rgb(0 0 0);
}
