.person {
  border: 10px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 1em;
  margin: 1em 0;
}

.good {
  background-color: rgb(200, 200, 255);
}

.bad {
  background-color: rgb(200, 200, 200);
}
