:global {
  @import "../../node_modules/normalize.css/normalize.css";

  html {
    font-family: "Comic Sans MS";
    background-image: url("../assets/money.jpg");
  }

  body {
    font-size: 16px;
    margin: 1em;
  }
}
