:global {
  @import "../../node_modules/normalize.css/normalize.css";

  html {
    /* tämä on kommentti */
    font-family: "Comic Sans MS";
    background-image: url("../assets/money.jpg");
  }

  body {
    padding: 1em;
    color: rgb(255, 255, 255);
  }
}
