:global {
  @import "../../node_modules/normalize.css/normalize.css";

  html {
    font-family: "Comic Sans MS";
    background-image: url("../assets/money.jpg");
  }

  body {
    padding: 2em;
  }
}
