.person {
  border: 10px solid #000;
  border-radius: 10px;
  padding: 1em;
  margin: 1em 0;

  background-color: rgb(200, 200, 200);

  &:hover {
    border-radius: 5px;
  }
}

.male {
  background-color: rgb(200, 200, 255);
}

.female {
  background-color: rgb(255, 200, 200);
}

.old {
  border-radius: 50px;
}
