/* Commentti */

.root {
  margin-bottom: 1em;
  border: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 1em;
  break-inside: avoid;

  transition: all 0.2s linear;

  &:hover {
    border-color: rgba(0, 0, 0, 1);
  }
}

.male {
  background-color: rgb(200, 200, 255);
}

.female {
  background-color: rgb(255, 200, 200);
}
