.root {
  border: 10px solid rgb(0, 0, 0);
  margin: 1em 0;
  padding: 1em;
  border-radius: 10px;
  display: flex;
  flex-basis: 100%;
  align-items: stretch;
  justify-content: center;
}

.data {
  flex: 2 0 75%;
}

.controls {
  text-align: right;
  flex: 0 2 25%;
}

.male {
  background-color: rgb(200, 200, 255);
}

.female {
  background-color: rgb(255, 200, 200);
}

.other {
  background-color: rgb(200, 200, 200);
}
