.root {
  padding: 1em;
  border: 5px solid rgba(0, 0, 0, .5);
  border-radius: 15px;
}

.male {
  background-color: rgb(200, 200, 255);
  &:hover {
    border: 5px solid rgba(0, 0, 0, 1);
  }
}

.female {
  background-color: rgb(255, 200, 200);
}
