.person {
  border: 3px solid rgb(0, 0, 0);
  padding: 1em;
  margin: .5em 0;
  border-radius: 10px;
}

.male {
  background-color: rgb(200, 200, 255);
}

.female {
  background-color: rgb(255, 200, 200);
}
