.person {
  border: 10px solid rgb(0, 0, 0);
  border-radius: 1em;
  padding: 1em;
  margin: 1em 0;
  display: flex;
  flex-basis: 100%;
}

.data {
  width: 66%;
}

.actions {
  width: 33%;
}

.male {
  background-color: rgb(200, 200, 255);
}

.female {
  background-color: rgb(255, 200, 200);
}
